@model IEnumerable<Online_Store.Domain.Entities.ProductEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat3ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UOMID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mintock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkupAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkupPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vatable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat3ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UOMID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mintock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkupAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkupPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vatable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
