@model IEnumerable<OSPI.Infrastructure.Models.PositionModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}
<br />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"> <h4>Elections Dashboard</h4></div>
                    <div class="col-sm-6"></div>

                    <div class="col-sm-2">
                        <a asp-action="Create" role="button" class="btn btn-primary pull-right"><i class="fa fa-plus"> </i> Create New</a>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper table-responsive">
                    <table id="tbl_test" class="table table-striped table-bordered table-hover  display nowrap">
                        <thead>
                            <tr>
                                <th class="text-center">
                                     
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.PositionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Qualifications)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr class="odd gradeX">
                                <td class="text-center" id="@item.PositionId">
                                    <input type="checkbox" value="1" id="chk_@item.PositionId">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PositionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Qualifications)
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
 