@if (User.Identity.IsAuthenticated)
{
    <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new {area = ""})" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Admin")" title="Manage">Hello, @User.Identity.Name</a>
            </li>
            <li>
                <a href="@Url.Action("Logout", "Account")">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Login", "Account")">Sign In & Sign Up</a>
        </li>
    </ul>
}