@model List<OSPI.Infrastructure.Models.CPositionModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}


<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"> <h4>Elections Dashboard</h4></div>
                    <div class="col-sm-6"></div>

                    <div class="col-sm-2">
                        <a role="button" id="btnconfirm" class="btn btn-primary pull-right"> Save</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                @foreach (var item in Model)
                {
                    <div class="section" id="@item.PositionId" data-pn="@item.PositionName">
                        <h5><b>INSTRUCTIONS:</b> Select between <label id="chkCount" class="countermin" data-countermin="@item.MinimumVotes">@item.MinimumVotes</label>  and <label class="countermax" data-countermax="@item.MaximumVotes">@item.MaximumVotes</label> options from the list below. <label style="color:red">* Required</label></h5>
                        <p><span class="spncounter">0</span> of  <span>@item.MaximumVotes</span> Selected</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <h5><b>@Html.DisplayFor(modelItem => item.PositionName)</b></h5>
                                </div>
                            </div>
                        </div>

                        @foreach (var emp in item.Candidates)
                        {

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-sm-1"><input type="checkbox" class="chk_@item.PositionId" data-cid="@emp.CandidateId" data-mid="@emp.MemberId" data-cname="@emp.CandidateName" data-pname="@item.PositionName"></div>

                                        <div class="col-sm-2"> <img src="@emp.MemberNumber" style="width:70px"></div>
                                        <div class="col-sm-6">@emp.CandidateName </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        }

                    </div>
                }
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <b>Do you want to submit your  votes now ?</b>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div id="divtxt">

                    </div>
                </div>


                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">
                            <button type="button" id="btnSave" class="btn btn-info">Yes</button>
                            <button type="button" id="btnNo" class="btn  btn-danger" data-dismiss="modal">No</button>

                        </div>

                    </div>


                </div>
            </div>
    </div>
</div>

<script>
    $(function () {
        var test = [];

        
        var flag = true;
        $('input[type="checkbox"]').click(function () {
            var mainSection = $(this).closest(".section");
            var className = this.className;
            var counterMin = mainSection.find('.countermin').attr('data-countermin');
            var counterMax = mainSection.find('.countermax').attr('data-countermax');
            var tolatCheckbox = $('.' + className + ':checked').length;
            mainSection.find('.spncounter').html(tolatCheckbox);

        });
        $('#btnconfirm').click(function () {           
            var data = [];
            var pdata = [];
            $(".section").each(function (e, v) {     
                debugger
                var counterMin = $(this).find('.countermin').attr('data-countermin');
                var counterMax = $(this).find('.countermax').attr('data-countermax');

                var selectedCB = [];
                var pselectedCB = [];
                var secctionId = $('#' + v.id + " input[type='checkbox']:checked");
              var pn=  $(this).attr('data-pn');
                if (secctionId.length >= parseInt(counterMin) && secctionId.length <= parseInt(counterMax)) {
                    $.each(secctionId, function () {
                        selectedCB.push('{"CandidateId":"' + $(this).attr('data-cid') + '","MemberId":"' + $(this).attr('data-mid') + '"}');
                         pselectedCB.push('{"CandidateName":"' + $(this).attr('data-cname') + '"}');
                    });
                    data.push('{"PositionId":"' + v.id + '","Candidates":[' + selectedCB.join(", ") + ']}')
                    flag = true;
                     pdata.push('{"PositionId":"' + pn + '","CandidatesList":[' + pselectedCB.join(", ") + ']}')
                }
                else {
                    alert('Please check limit of ' + v.id + '.')
                    flag = false;
                }

            });
            if (flag) {
                data = '[' + data.join(", ") + ']';
                test = data; 
               pdata = '[' + pdata.join(", ") + ']';
                var jsonObj = JSON.parse(pdata);
                $('#divtxt').html("");
                var  table_body = " ";

                $.each(jsonObj, function (i, p) { 
                    table_body += "<div class='col-md-12'>";
                     table_body += '<b>';
                    table_body += '<p>' + p.PositionId + '</p>';
                    table_body += "</b>";
                     table_body += "</div>";
                 
                    $.each(p.CandidatesList, function (i, c) { 
                       table_body+="<div class='col-md-12'>";
                    table_body += '<p>' + c.CandidateName + '</p>';
                     table_body += "</div>";
                })
                    //table_body += "</div>";
                   
                   
                });
                 $('#divtxt').html(table_body);
                
                $("#myModal").modal("show");
                //pdata = '[' + pdata.join(", ") + ']';
                //var pdatas = pdata;
                //var i;
                //for (i in pdatas.CandidatesList) {
                //    var data= pdatas.CandidatesList[i] + "<br>";
                //}

                //$("#myModal").modal("show");
                //$.ajax({
                //    type: 'POST',
                //    url: '/Elections/SaveVotes',
                //    data: data,
                //    contentType: "application/json",
                //    success: function (data) {
                //        alert("Record has been successfully inserted.");
                //        location.href = "/Elections/Results";
                //    }
                //});
            }

        });
        $('#btnSave').click(function () {
            var model =test;
               $.ajax({
                    type: 'POST',
                    url: '/Elections/SaveVotes',
                    data: model,
                    contentType: "application/json",
                    success: function (model) {
                        alert("Record has been successfully inserted.");
                        location.href = "/Elections/Results";
                    }
                });
        });
        $('#btnNo').click(function () {
            $("#myModal").modal("hide");
        });
    })
</script>
