@model OSPI.Infrastructure.Models.BallotModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet" />

<br />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"> <h4>Modify Ballot</h4></div>
                    <div class="col-sm-6"></div>

                    <div class="col-sm-2">
                        <div class="row">

                            <i class="fa fa-arrow-circle-left"></i>  <a asp-action="index">Back to Ballot List</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <form id="frmCashReceiptJournal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="BallotId" />
                    <input type="hidden" asp-for="RowVersion" />

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">

                                <label asp-for="RefCode" class="control-label"></label>
                                <input asp-for="RefCode" class="form-control" />
                                <span asp-validation-for="RefCode" class="text-danger" id="spn_CashReceiptNo"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger" id="spn_Payee"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="RegStartDate" class="control-label"></label>
                                @Html.TextBoxFor(m => m.RegStartDate, new { @class = "form-control"})
                                @*<input type="text" asp-for="RegStartDate" class="form-control datepicker" />*@
                                <span asp-validation-for="RegStartDate" class="text-danger" id="spn_TransactionDate"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="RegEndDate" class="control-label"></label>
                                @Html.TextBoxFor(m => m.RegEndDate, new { @class = "form-control"})
                                @*<input type="text" asp-for="RegEndDate" class="form-control datepicker" />*@
                                <span asp-validation-for="RegEndDate" class="text-danger" id="spn_Particular"></span>

                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="VotingStartDate" class="control-label"></label>
                                @Html.TextBoxFor(m => m.VotingStartDate, new { @class = "form-control" })
                                @*<input type="text" asp-for="VotingStartDate" class="form-control datepicker" />*@
                                <span asp-validation-for="VotingStartDate" class="text-danger" id="spn_MainAmount"></span>

                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="VotingEndDate" class="control-label"></label>
                                @Html.TextBoxFor(m => m.VotingEndDate, new { @class = "form-control" })
                                @*<input type="text" asp-for="VotingEndDate" class="form-control datepicker" />*@
                                <span asp-validation-for="VotingEndDate" class="text-danger" id="spn_status"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">

                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="button" id="btnedit" value="Save" class="btn btn-primary pull-right" />
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"> <h4> List of Positions</h4></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">

                        <button data-toggle="modal" data-target="#AddPositionModal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Position</button>

                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper table-responsive">
                    <table id="tbl_Positions" class="table table-striped table-bordered table-hover  display nowrap">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(Modelitem => Model.Positions.First().PositionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(Modelitem => Model.Positions.First().MinimumRequiredVotes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(Modelitem => Model.Positions.First().MaximumRequiredVotes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(Modelitem => Model.Positions.First().Qualifications)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Positions)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PositionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MinimumRequiredVotes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaximumRequiredVotes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Qualifications)
                                    </td>
                                    <td>
                                        <a class="btn_Delete" onclick="Delete(this)" data-id="@item.PositionId">   <i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="modal fade" id="AddPositionModal" role="dialog">

    <!-- Begin Modal Dialog-->
    <div class="modal-dialog">

        <!-- Begin Modal Content-->
        <div class="modal-content">

            <!-- Begin Modal Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Add New Position</h4>
            </div>
            <!-- End Modal Header-->
            <!-- Begin Modal Body-->
            <div class="modal-body">
                <form role="form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="PositionName">Election Position</label>
                                <input type="text" class="form-control" id="txtPosition" placeholder="Position">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="MinimumRequiredVotes">Minimum Required Votes</label>
                                <input class="form-control" id="txtMinimumVotes" placeholder="Minimum" type="number">
                                <span class="text-danger" id="spn_minimumvotes"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="MaximumRequiredVotes">Maximum Required Votes</label>
                                <input class="form-control" id="txtMaximumVotes" placeholder="Maximum" type="number">
                                <span class="text-danger" id="spn_maximumvotes"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Qualifications">Qualifications</label>
                                <input type="text" class="form-control" id="txtQualifications" placeholder="Qualifications">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Modal Body-->
            <!-- Start Modal Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnsave" class="btn btn-success pull-right">Save</button>
            </div>
            <!-- End Modal Footer-->

        </div>
        <!-- End Modal Content-->

    </div>
    <!-- End Modal Dialog-->

</div>
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/ballot.js"></script>
}