@model OSPI.Infrastructure.Models.CandidateModel

@{
    ViewData["Title"] = "Details";
     Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CandidateEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CandidateFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomineeFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomineeFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CandidateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
