@model OSPI.Infrastructure.Models.CandidateModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"> <h4>  Candidate Details</h4></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-2">
                        <div class="row">

                            <i class="fa fa-arrow-circle-left"></i>  <a asp-action="index">Back to  Candidate List</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <b>
                                @Html.DisplayNameFor(model => model.PositionName):
                            </b>
                            @Html.DisplayFor(model => model.PositionName)

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <b>
                                @Html.DisplayNameFor(model => model.CandidateFullName):
                            </b>
                            @Html.DisplayFor(model => model.CandidateFullName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <b>
                                @Html.DisplayNameFor(model => model.NomineeFullName):
                            </b>
                            @Html.DisplayFor(model => model.NomineeFullName)

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <b>
                                @Html.DisplayNameFor(model => model.Status):
                            </b>
                            @Html.DisplayFor(model => model.Status)

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-2">
                                <a class="btn btn-danger pull-right" onclick="confirmDelete('@Url.Action("Delete", "Candidates", new { id = @Model.CandidateId })')" href="javascript:void(0)"><i class="fa fa-trash" aria-hidden="true"></i>  Delete</a>
                            </div>
                            <div class="col-lg-2">
                                <a asp-action="Edit" class="btn btn-primary pull-right" asp-route-id="@Model.CandidateId"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>


            </div>
        </div>
    </div>
<script>
    function confirmDelete(url) {
        var res = confirm("Do you really want to delete this Candidate?");
        if (res == true) {
            window.location.href = url;
        }
    }
</script>
 
