@model OSPI.Infrastructure.Models.CandidateModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}

<h4>Nominated details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PositionName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PositionName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CandidateFullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CandidateFullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NomineeFullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomineeFullName)
            </dd>
        </dl>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CandidateId" />
            <input type="hidden" asp-for="PositionId" />
            <input type="hidden" asp-for="CandidateMemberId" />
            <input type="hidden" asp-for="NomineeMemberId" />
            <input type="hidden" asp-for="RowVersion" />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.Status), "Select Status")
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function confirmQualified(url) {
        var res = confirm("Qualified this Candidate?");
        alert(url);
        if (res == true) {
            window.location.href = url;
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
