@model IEnumerable<OSPI.Domain.Entities.CandidateEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ballot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomineeMember)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ballot.BallotID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateMember.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomineeMember.MemberID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CandidateID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CandidateID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CandidateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
