@model IEnumerable<OSPI.Infrastructure.Models.CandidateModel>

@{
    ViewData["Title"] = "Index";
     Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomineeFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CandidateFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomineeFullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CandidateID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CandidateID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CandidateID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
