@model OSPI.Infrastructure.Models.VoteModel

@{
    ViewData["Title"] = "Details";
     Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VoteEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVoted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVoted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
