@model OSPI.Infrastructure.Models.RoleModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <h3 style="color:rebeccapurple">@ViewBag.Message</h3>
}

<div>
    <h4>RoleEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
